<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Exercicio6.2Strategy/src/sin3bua_strategy_exer6/TestandoStrategy.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sin3bua_strategy_exer6.TestandoStrategy"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Exercicio6.2Strategy"/>
</launchConfiguration>
